@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://elad2412.github.io/the-new-css-reset/ */
/*** The new CSS Reset - version 1.0.0 (last updated 8.7.2021) ***/

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button,
label {
  cursor: pointer;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}
